.header
  .header__group-title1 sample
  .header__group-members1 Members: seo neko
  %button.edit{:type => "edit"} Edit


.message-list
  .message-list__membername1 seo
  .message-list__created-at 2016/09/21 06:15:55
  .message-list__message1 Hello World!


.input-message
  .input-message__input{:type => "text"}
  .input-message__input-placeholder type a message
  %a.input-message__input-image{ :href => 'http://google.co.jp', :id => 'anchor3' }#{fa_icon 'image'}
  %button.send{:type => "submit"} Send
