.chat {
  float: left;
  width: calc(100vw - 300px);
  .header {
    border-bottom:thin solid $space;
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        @include flexbox;
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color:$light_blue;
      }
    }
  }
}
.messages {
    float:left;
    width:calc(100vw - 300px);
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 190px);
    overflow: scroll;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        line-height: 24px;
        color: $light_gray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
  }
}
  .lower-message {
    &__content {
      color: $black;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }

.form {
    float:right;
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100vw - 300px);
    position: relative;
  &__message {
    border: none;
    position: absolute;
    top: 20px;
    left: 40px;
    height: 50px;
    width: calc(100vw - 495px);
  }
  &__mask {
    height: 90px;
    width: calc(100vw - 300px);
    float:right;
  }
  .image2 {
    position: absolute;
    right: 165px;
    font-size: 20px;
    line-height: 90px;
  }
  .hidden {
    display: none;
  }
  &__submit {
    position: absolute;
    right:40px;
    top: 20px;
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
a{
  text-decoration: none;
}
